/* You can add global styles to this file, and also import other style files */
.slide {
  position: absolute;
  display: grid;
  justify-content: center;
  top: 10em;
  z-index: 1;
  opacity: 0;
  width: 95%;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
}
