/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'Quattrocento';
  height: 100%;
}

body {
  background: linear-gradient(to left, #272932, whitesmoke 50%, whitesmoke 50%, #272932 100% );
}

.title {
  display: grid;
  justify-content: center;
  font-family: 'Quattrocento';
}

li {
  list-style: none;
}

.slide {
  position: absolute;
  display: grid;
  justify-content: center;
  top: 10em;
  z-index: 1;
  opacity: 0;
  width: 95%;
  transition: opacity 0.5s;
}

.question {
  text-align: center;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.btnContainer {
  position: relative;
  text-align: center;
  margin: auto;
  top: 17.5em;
  right: 1.8em;
}

#next, #previous, #submit {
  font-family: 'Quattrocento';
  font-size: 1em;
}

#quizResults {
  position: relative;
  text-align: center;
  top: 7em;
  font-size: 3em;
  right: .8em;
}
